---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-gpu-resource-driver
spec:
  chartRef:
    kind: OCIRepository
    name: intel-gpu-resource-driver
  interval: 1h
  values:
    cdi:
      staticPath: /etc/cdi
      dynamicPath: /var/run/cdi
    kubeletPlugin:
      nodeSelector:
        node.kubernetes.io/gpu: "true"
    mounts:
      devDri:
        enabled: true
        hostPath: /dev/dri
