---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml

patches:
  - path: ./intel-gpu-resource-driver-kubelet-plugin-patch.yaml
    target:
      group: apps
      version: v1
      kind: DaemonSet
      name: intel-gpu-resource-driver-kubelet-plugin
