---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
spec:
  chartRef:
    kind: OCIRepository
    name: node-feature-discovery
  interval: 1h
  values:
    worker:
      config:
        sources:
          pci:
            deviceClassWhitelist:
              - "03"
            deviceLabelFields:
              - vendor
