---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: llm

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./searxng/ks.yaml
  - ./ollama/ks.yaml
  - ./open-webui/ks.yaml
