---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: shoko
spec:
  chartRef:
    kind: OCIRepository
    name: shoko
  interval: 1h
  values:
    controllers:
      shoko:
        type: statefulset # SQLite DB
        initContainers:
          fix-perms:
            image:
              repository: busybox
              tag: "1.36"
            command:
              - sh
              - -c
              - |
                set -eux
                mkdir -p /home/shoko/.shoko
                chown -R 1000:1000 /home/shoko/.shoko
                chmod -R u+rwX,g+rwX /home/shoko/.shoko
            securityContext:
              runAsUser: 0
              runAsGroup: 0
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - "ALL"

        containers:
          app:
            image:
              repository: ghcr.io/shokoanime/server
              tag: daily@sha256:638d77cf180953d3cd0b6d69ea57a0db0e2c742b59b4a8490156853d582a6c2c
            env:
              TZ: "Etc/UTC"

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v3/Init/Status
                    port: &port 8111
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}

            resources:
              requests:
                cpu: 700m
              limits:
                memory: 4Gi

    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - shoko.beholdenkey.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: shoko-config
        globalMounts:
          - path: /home/shoko/.shoko
      metadata:
        accessMode: ReadWriteOnce
        size: 20Gi
        suffix: metadata
        globalMounts:
          - path: /home/shoko/.shoko/Shoko.CLI/images
