---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shoko-config
spec:
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-rbd
  persistentVolumeReclaimPolicy: Retain
