---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dcgm-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: dcgm-exporter
  interval: 1h
  values:
    image:
      repository: mirror.gcr.io/nvidia/dcgm-exporter
      tag: 4.5.1-4.8.0-distroless
    extraEnv:
      NVIDIA_DRIVER_CAPABILITIES: all
      NVIDIA_VISIBLE_DEVICES: all
    runtimeClassName: nvidia
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 1024Mi
        nvidia.com/gpu: 1
    tolerations:
      - key: nvidia.com/gpu
        operator: Exists
        effect: NoSchedule
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node.kubernetes.io/gpu
                  operator: In
                  values:
                    - "true"
    serviceMonitor:
      interval: 15s
      honorLabels: true
      labels:
        prometheus: kube-prometheus-stack
