---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kapowarr
spec:
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: 10Gi
  storageClassName: ceph-rbd
  persistentVolumeReclaimPolicy: Retain
