---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: homebox
spec:
  components:
    - ../../../../components/nfs-scaler
    - ../../../../components/volsync
  dependsOn:
    - name: ceph-csi-drivers
      namespace: ceph-csi-operator-system
  interval: 1h
  path: ./kubernetes/apps/default/homebox/app
  postBuild:
    substitute:
      APP: homebox
      VOLSYNC_CAPACITY: 25Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: false
