---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ytdl-sub
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: ytdl-sub
  values:
    global:
      fullnameOverride: ytdl-sub
    controllers:
      ytdl-sub:
        annotations:
          reloader.stakater.com/auto: "true"
        type: cronjob
        cronjob:
          schedule: "0 4 * * *"
          concurrencyPolicy: Forbid
          ttlSecondsAfterFinished: 86400
          startingDeadlineSeconds: 30
          successfulJobsHistory: 1
          failedJobsHistory: 1
          backoffLimit: 6
        containers:
          app:
            image:
              repository: ghcr.io/jmbannon/ytdl-sub
              tag: 2026.02.02
            env:
              TZ: ${TIMEZONE}
              PUID: 1000
              PGID: 1000
              MEDIA_FOLDER: /media/youtube
            command:
              - bash
              - -c
              - |
                ytdl-sub --log-level=debug --config=/config/config.yaml sub /config/subscriptions.yaml
                echo "[cronjob:command] Fixing permissions, started at $$(date --rfc-2822)"
                find $${MEDIA_FOLDER} -user root -exec chown 1000:1000 "{}" \; -exec chmod 777 "{}" \;
                echo "[cronjob:command] Fixed permissions, ended at $$(date --rfc-2822)"
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 2048Mi
    persistence:
      config:
        type: configMap
        name: ytdl-sub-config
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
          - path: /config/subscriptions.yaml
            subPath: subscriptions.yaml
            readOnly: true

      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp/ytdl-sub

      media:
        type: nfs
        server: 192.168.1.10
        path: /var/nfs/shared/media
        globalMounts:
          - path: /media
