---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: open-webui
spec:
  chartRef:
    kind: OCIRepository
    name: open-webui
  interval: 15m
  values:
    controllers:
      open-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: v0.8.3-cuda
            env:
              # Image Generation
              ENABLE_OPENAI_API: False
              ENABLE_OLLAMA_API: True
              # Open-webui settings
              OLLAMA_BASE_URL: http://ollama.llm.svc.cluster.local:11434
              ENABLE_RAG_WEB_SEARCH: true
              ENABLE_SEARCH_QUERY: true
              RAG_WEB_SEARCH_ENGINE: searxng
              SEARXNG_QUERY_URL: http://searxng:8080/search?q=<query>
              ENABLE_WEBSOCKET_SUPPORT: "true"
              WEBSOCKET_MANAGER: "redis"
              WEBSOCKET_REDIS_URL: "redis://dragonfly.database.svc.cluster.local:6379"
            resources:
              requests:
                cpu: 500m
              limits:
                memory: 2Gi
                nvidia.com/gpu: 1
        pod:
          runtimeClassName: nvidia
    service:
      app:
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames:
          - "chat.beholdenkey.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/backend/data
