---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  chartRef:
    kind: OCIRepository
    name: immich
  interval: 1h
  values:
    controllers:
      immich:
        strategy: RollingUpdate
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.3@sha256:ccc2f7e7a64f71d8e56f2a7bf6112c9fd8075a854e4ec6d7c8c97049e15a9cfb
            env:
              TZ: "America/New_York"
              IMMICH_MEDIA_LOCATION: &mediaLocation /images
              REDIS_HOSTNAME: &redisHostname "immich-valkey.media.svc.cluster.local"
              IMMICH_TELEMETRY_INCLUDE: "all"
              DB_VECTOR_EXTENSION: "pgvector"
            envFrom:
              - secretRef:
                  name: postgres-immich
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 6G
      machine-learning:
        strategy: RollingUpdate
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.3@sha256:8dd4aa1f31fa9da82f8beb8b2ff564f5df19539ad430c2e3164113098ae0fc18
            env:
              REDIS_HOSTNAME: *redisHostname
              MPLCONFIGDIR: "/cache/matplotlib"
              IMMICH_MEDIA_LOCATION: *mediaLocation
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 4G
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &mlPort 3003
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *mlPort
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 60
      valkey:
        containers:
          app:
            image:
              repository: ghcr.io/valkey-io/valkey
              tag: 9.0.2
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec: &probe-exec {command: ["sh", "-c", "valkey-cli ping | grep PONG"]}
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  exec: *probe-exec
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              startup:
                enabled: true
                custom: true
                spec:
                  exec: *probe-exec
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 30
    service:
      immich:
        controller: immich
        ports:
          http:
            port: &port 2283
          metrics-api:
            port: 8081
          metrics-ms:
            port: 8082
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: *mlPort
      valkey:
        controller: valkey
        ports:
          http:
            port: 6379
    serviceMonitor:
      immich:
        enabled: true
        serviceName: immich
        endpoints:
          - port: metrics-api
            scheme: http
            path: /metrics
          - port: metrics-ms
            scheme: http
            path: /metrics
    route:
      immich:
        hostnames:
          - "photos.beholdenkey.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: immich
                port: *port
    persistence:
      matplotlib:
        type: emptyDir
        advancedMounts:
          immich:
            main:
              - path: /config/matplotlib
      library:
        type: nfs
        server: titan.internal
        path: /var/nfs/shared/media/immich
        globalMounts:
          - path: *mediaLocation
            readOnly: false
      cache:
        type: persistentVolumeClaim
        storageClass: ceph-rbd
        accessMode: ReadWriteOnce
        size: 10Gi
        advancedMounts:
          machine-learning:
            main:
              - path: /cache
                subPath: cache
              - path: /.cache
                subPath: dotCache
      tmpfs:
        type: emptyDir
        advancedMounts:
          immich:
            main:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding
              - path: /usr/src/app/.transformers_cache
                subPath: transformers
