---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  chartRef:
    kind: OCIRepository
    name: immich
  interval: 1h
  values:
    controllers:
      immich:
        strategy: RollingUpdate
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
            env:
              TZ: "America/New_York"
              IMMICH_MEDIA_LOCATION: &mediaLocation /images
              REDIS_HOSTNAME: &redisHost "dragonfly.database.svc.cluster.local"
              REDIS_DBINDEX: &redisDB "2"
              IMMICH_TELEMETRY_INCLUDE: "all"
              DB_VECTOR_EXTENSION: "pgvector"
            envFrom:
              - secretRef:
                  name: postgres-immich
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 6G
      machine-learning:
        strategy: RollingUpdate
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.6@sha256:b213fa3c82d27a21a299c46ffbb38a091f18384db1ad67d409a3b34fe0fce556
            env:
              TZ: "America/New_York"
              REDIS_HOSTNAME: *redisHost
              REDIS_DBINDEX: *redisDB
              MPLCONFIGDIR: "/cache/matplotlib"
              IMMICH_MEDIA_LOCATION: *mediaLocation
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 4G
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &mlPort 3003
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *mlPort
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 60
    service:
      immich:
        controller: immich
        ports:
          http:
            port: &port 2283
          metrics-api:
            port: 8081
          metrics-ms:
            port: 8082
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: *mlPort
    serviceMonitor:
      immich:
        enabled: true
        serviceName: immich
        endpoints:
          - port: metrics-api
            scheme: http
            path: /metrics
          - port: metrics-ms
            scheme: http
            path: /metrics
    route:
      immich:
        hostnames:
          - "photos.beholdenkey.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: immich
                port: *port
    persistence:
      matplotlib:
        type: emptyDir
        advancedMounts:
          immich:
            main:
              - path: /config/matplotlib
      library:
        type: nfs
        server: titan.internal
        path: /var/nfs/shared/media/immich
        globalMounts:
          - path: *mediaLocation
            readOnly: false
      cache:
        enabled: true
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          machine-learning:
            main:
              - path: /cache
                subPath: cache
              - path: /.cache
                subPath: dotCache
      tmpfs:
        type: emptyDir
        advancedMounts:
          immich:
            main:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding
              - path: /usr/src/app/.transformers_cache
                subPath: transformers
