---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  chartRef:
    kind: OCIRepository
    name: immich
  interval: 1h
  values:
    controllers:
      machine-learning:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.6-cuda@sha256:d7d35e18335528bb86adadccfd6ddcbadff320cdaee9316cc583e9b67e99a91d
            env:
              TZ: "America/New_York"
              REDIS_HOSTNAME: &redisHost "dragonfly.database.svc.cluster.local"
              REDIS_DBINDEX: &redisDB "2"
              MPLCONFIGDIR: "/cache/matplotlib"
              IMMICH_MEDIA_LOCATION: &mediaLocation /images
              MACHINE_LEARNING_PRELOAD__CLIP__TEXTUAL: ViT-SO400M-16-SigLIP2-384__webli
              MACHINE_LEARNING_PRELOAD__CLIP__VISUAL: ViT-SO400M-16-SigLIP2-384__webli
              MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__RECOGNITION: buffalo_l
              MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__DETECTION: buffalo_l
            resources:
              requests:
                nvidia.com/gpu: 1
              limits:
                nvidia.com/gpu: 1
            securityContext: &csc
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
        pod:
          runtimeClassName: nvidia
      immich:
        strategy: RollingUpdate
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
            env:
              TZ: "America/New_York"
              IMMICH_MEDIA_LOCATION: *mediaLocation
              REDIS_HOSTNAME: *redisHost
              REDIS_DBINDEX: *redisDB
              IMMICH_TELEMETRY_INCLUDE: "all"
              IMMICH_WORKERS_INCLUDE: api
            envFrom:
              - secretRef:
                  name: postgres-immich
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/server/ping
                    port: &serverport 2283
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
            securityContext: *csc
    service:
      immich:
        controller: immich
        ports:
          http:
            port: *serverport
          metrics-api:
            port: 8081
          metrics-ms:
            port: 8082
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: 3003
    serviceMonitor:
      immich:
        enabled: true
        serviceName: immich
        endpoints:
          - port: metrics-api
            scheme: http
            path: /metrics
          - port: metrics-ms
            scheme: http
            path: /metrics
    route:
      immich:
        hostnames:
          - "photos.beholdenkey.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: immich
                port: *serverport
    defaultPodOptions:
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: {type: RuntimeDefault}
    persistence:
      library:
        type: nfs
        server: titan.internal
        path: /var/nfs/shared/media/immich
        globalMounts:
          - path: *mediaLocation
            readOnly: false
      cache:
        enabled: true
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          machine-learning:
            app:
              - path: /cache
                subPath: cache
              - path: /.cache
                subPath: dotCache
      matplotlib:
        type: emptyDir
        advancedMounts:
          machine-learning:
            app:
              - path: /cache/matplotlib
      geocoding-dump:
        type: emptyDir
        advancedMounts:
          machine-learning:
            app:
              - path: /usr/src/app/.reverse-geocoding-dump
          immich:
            app:
              - path: /usr/src/app/.reverse-geocoding-dump
      geoname-dump:
        type: emptyDir
        advancedMounts:
          immich:
            app:
              - path: /usr/src/app/node_modules/local-reverse-geocoder/geonames_dump
      tmpfs:
        type: emptyDir
        medium: Memory
        sizeLimit: 32Mi
        advancedMounts:
          machine-learning:
            app:
              - path: /.config
                subPath: machine-learning/.config
      transformers-cache:
        type: emptyDir
        advancedMounts:
          machine-learning:
            app:
              - path: /usr/src/app/.transformers_cache
          immich:
            app:
              - path: /usr/src/app/.transformers_cache
