---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: readarr
spec:
  chartRef:
    kind: OCIRepository
    name: readarr
  interval: 1h
  values:
    controllers:
      readarr:
        initContainers:
          chown-run:
            image:
              repository: busybox
              tag: 1.37.0
            command:
              - "sh"
              - "-c"
            args:
              - "chown -R 1001:1001 /run"
            securityContext:
              runAsNonRoot: false
              runAsUser: 0
        containers:
          app:
            image:
              repository: ghcr.io/pennydreadful/bookshelf
              tag: hardcover-v0.4.20@sha256:d53f1cd8b029c4d2187826fdba87280f95133182a64b97a01f2e9382896f3108
            env:
              READARR__APP__INSTANCENAME: readarr
              READARR__APPLICATION_URL: 'https://readarr.beholdenkey.dev'
              READARR__APP__THEME: dark
              READARR__AUTH__METHOD: Forms
              READARR__AUTH__REQUIRED: DisabledForLocalAddresses
              READARR__LOG__DBENABLED: "False"
              READARR__LOG__LEVEL: info
              READARR__SERVER__PORT: &port 8787
              READARR__UPDATE__BRANCH: develop
              TZ: America/New_York
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              # readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"], add: ["CHOWN"]}
            resources:
              requests:
                cpu: 50m
                memory: 750Mi
              limits:
                memory: 2Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: readarr
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.beholdenkey.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        suffix: config
        storageClass: "ceph-rbd"
        accessMode: ReadWriteOnce
        size: "6Gi"
      media:
        type: nfs
        server: 192.168.1.10
        path: /var/nfs/shared/media
        globalMounts:
          - path: /media
      run:
        type: emptyDir
        globalMounts:
          - path: /run
      tmp:
        type: emptyDir
