---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bookshelf
spec:
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: 6Gi
  storageClassName: ceph-rbd
  persistentVolumeReclaimPolicy: Retain
