---
apiVersion: batch/v1
kind: Job
metadata:
  name: synapse-initdb
spec:
  backoffLimit: 0
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: init
          image: ghcr.io/home-operations/postgres-init:18.1.0
          envFrom:
            - secretRef:
                name: postgres-synapse-init
---
apiVersion: batch/v1
kind: Job
metadata:
  name: mas-initdb
spec:
  backoffLimit: 0
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: init
          image: ghcr.io/home-operations/postgres-init:18.1.0
          envFrom:
            - secretRef:
                name: postgres-mas-init
