---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./homebox/ks.yaml
  # - ./home-assistant/ks.yaml
  - ./mosquitto/ks.yaml
