---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kapowarr
spec:
  chartRef:
    kind: OCIRepository
    name: kapowarr
  interval: 1h
  values:
    controllers:
      kapowarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/kareadita/kavita
              tag: 0.8.8@sha256:22c42f3cc83fb98b98a6d6336200b615faf2cfd2db22dab363136744efda1bb0
            env:
              TZ: Etc/UTC
              PGUID: 1000
              PUID: 1000
            resources:
              requests:
                cpu: 15m
                memory: 100M
              limits:
                memory: 1G
    service:
      app:
        ports:
          http:
            port: 5000
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.beholdenkey.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        suffix: config
        storageClass: "ceph-rbd"
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /config
        size: "6Gi"
      media:
        type: nfs
        server: 192.168.1.10
        path: /var/nfs/shared/media
        globalMounts:
          - path: /media
