---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kavita
spec:
  chartRef:
    kind: OCIRepository
    name: kavita
  interval: 1h
  values:
    controllers:
      kavita:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/kareadita/kavita
              tag: 0.8.9@sha256:69e9117b9b681849a6f6d5dc8411bfa6a326ed77f78cc49d9cbce49584ff6c0d
            env:
              TZ: Etc/UTC
              PGUID: 1000
              PUID: 1000
            resources:
              requests:
                cpu: 15m
                memory: 100M
              limits:
                memory: 1G
    service:
      app:
        ports:
          http:
            port: 5000
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.beholdenkey.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        suffix: config
        storageClass: "ceph-rbd"
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /config
        size: "6Gi"
      media:
        type: nfs
        server: 192.168.1.10
        path: /var/nfs/shared/media
        globalMounts:
          - path: /media
