---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app fusion
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      fasten:
        containers:
          app:
            image:
              repository: ghcr.io/fastenhealth/fasten-onprem
              tag: main-v1.1.2@sha256:67d133a934e22b6611a7bb438f8b9d7dfb56e04748c775003f3279f6fc9ac2f1
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: fasten
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames:
          - fasten.beholdenkey.dev
          - health.beholdenkey.dev
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: 8080
    persistence:
      config:
        existingClaim: fasten-data
        globalMounts:
          - path: /data
      cache:
        type: emptyDir
        globalMounts:
          - path: /opt/fasten/cache
