---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fasten-data
  labels:
    app.kubernetes.io/name: &app fasten
    app.kubernetes.io/instance: *app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: ceph-rbd
