---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ollama
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: csi-driver-nfs
      namespace: kube-system
  interval: 1h
  path: ./kubernetes/apps/llm/ollama/app
  postBuild:
    substitute:
      APP: ollama
      VOLSYNC_CAPACITY: 100Mi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: llm
