---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs
spec:
  chartRef:
    kind: OCIRepository
    name: csi-driver-nfs
  interval: 15m
  values:
    controller:
      replicas: 1
    storageClass:
      create: true
      name: nfs-rwx
      parameters:
        server: 192.168.1.10
        share: /var/nfs/shared/foundry/homeops
      mountOptions:
        - nfsvers=3
        - nolock
        - hard
        - noatime
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
