---
apiVersion: v1
kind: Service
metadata:
  name: ollama-windows
spec:
  ports:
    - name: http
      port: 11434
      targetPort: 11434
---
apiVersion: v1
kind: Endpoints
metadata:
  name: ollama-windows
subsets:
  - addresses:
      - ip: 192.168.1.238
    ports:
      - name: http
        port: 11434
