---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
spec:
  chartRef:
    kind: OCIRepository
    name: ollama
  dependsOn: []
  interval: 15m
  values:
    controllers:
      ollama:
        replicas: 1 # 1 per node
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.14.2
            securityContext:
              privileged: true
            env:
              OLLAMA_MODELS: &modelPath /models
              no_proxy: localhost,127.0.0.1
              OLLAMA_HOST: 0.0.0.0
              ZES_ENABLE_SYSMAN: 1
            resources:
              requests:
                cpu: 200m
                nvidia.com/gpu: 1
              limits:
                memory: 16Gi
                nvidia.com/gpu: 1
    defaultPodOptions:
      runtimeClassName: nvidia
      nodeSelector:
        node.kubernetes.io/gpu: "true"
    service:
      app:
        ports:
          http:
            port: 11434
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.beholdenkey.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      ollama:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: *modelPath
            subPath: models
          - path: /root/.ollama
            subPath: config
