---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
spec:
  chartRef:
    kind: OCIRepository
    name: ollama
  interval: 15m
  values:
    controllers:
      ollama:
        pod:
          nodeSelector:
            node.kubernetes.io/gpu: "true"
        initContainers:
          sync-models:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.14.2
            command:
              - "/bin/sh"
              - "/scripts/sync-models.sh"

            env: &envVars
              OLLAMA_MODELS: &modelPath /models
              OLLAMA_HOST: "0.0.0.0"
              no_proxy: "localhost,127.0.0.1"
              ZES_ENABLE_SYSMAN: "1"

        containers:
          app:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.14.2
            command:
              - sh
              - -c
              - >-
                mkdir -p /llm/ollama && cd /llm/ollama && init-ollama && exec ./ollama serve
            env: *envVars

            resources:
              requests:
                cpu: 200m
                nvidia.com/gpu: 1
              limits:
                memory: "16Gi"
                nvidia.com/gpu: 1
            securityContext:
              privileged: false
              capabilities:
                add:
                  - SYS_ADMIN

            probes:
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 11434
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 11434
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup: *probe

    defaultPodOptions:
      runtimeClassName: nvidia
      nodeSelector:
        node.kubernetes.io/gpu: "true"

    service:
      app:
        ports:
          http:
            port: 11434
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.beholdenkey.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      models:
        type: custom
        volumeSpec:
          ephemeral:
            volumeClaimTemplate:
              spec:
                accessModes:
                  - ReadWriteOnce
                storageClassName: "ceph-rbd"
                resources:
                  requests:
                    storage: 50Gi
        advancedMounts:
          ollama:
            app:
              - path: /root/.ollama
                subPath: .ollama
              - path: *modelPath
                subPath: models
            sync-models:
              - path: /root/.ollama
                subPath: .ollama
              - path: *modelPath
                subPath: models

      model-list:
        type: configMap
        name: ollama-models
        globalMounts:
          - path: /config/models.txt
            subPath: models.txt

      sync-script:
        type: configMap
        name: ollama-sync-script
        globalMounts:
          - path: /scripts/sync-models.sh
            subPath: sync-models.sh
