---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ephemera
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: ephemera
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: false
        seccompProfile: {type: RuntimeDefault}
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "vpn",
            "namespace": "kube-system",
            "ips": ["192.168.90.12/24"],
            "mac": "32:0b:d8:1f:b6:e4"
          }]
    controllers:
      ephemera:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/orwellianepilogue/ephemera
              tag: 2.0.0@sha256:9634dc6979fc6ac11243ee6898a1b92236d564b43cc795450928634bce2ae2c0
            env:
              AA_BASE_URL: https://annas-archive.li
              ALLOWED_ORIGINS: https://{{ .Release.Name }}.beholdenkey.dev
              FLARESOLVERR_URL: http://flaresolverr.media.svc.cluster.local:8191
              BASE_URL: "https://{{ .Release.Name }}.beholdenkey.dev"
              TZ: ${TIMEZONE}
              PUID: "1000"
              PGID: "1000"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8286
                  initialDelaySeconds: 40
                  periodSeconds: 30
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 250m
                memory: 500M
              limits:
                cpu: 500m
                memory: 900M
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.beholdenkey.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
            timeouts:
              request: 0s
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /app/data
      media:
        type: nfs
        server: titan.internal
        path: /var/nfs/shared/media/booklore/ingest
        globalMounts:
          - path: /app/ingest
            readOnly: false
      tmpfs:
        type: emptyDir
        advancedMounts:
          ephemera:
            app:
              - path: /app/downloads
              - path: /app/.crawlee
