---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: open-webui
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: dragonfly-operator
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/llm/open-webui/app
  postBuild:
    substitute:
      APP: open-webui
      VOLSYNC_CAPACITY: 100Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: llm
