---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kokoro
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kokoro
  values:
    controllers:
      kokoro:
        containers:
          app:
            image:
              repository: ghcr.io/remsky/kokoro-fastapi-gpu
              tag: v0.2.4@sha256:79d81c41d8883611291c5785e47db2ba00765e9b89dd59de05d9f28e1945f905
            resources:
              requests:
                cpu: 10m
                memory: 2Gi
              limits:
                memory: 4Gi
                nvidia.com/gpu: 1
    service:
      app:
        ports:
          http:
            port: 8880

    route:
      app:
        hostnames:
          - tts.beholdenkey.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
