[botdetection]
trusted_proxies = [
  "127.0.0.0/8",
  "::1",
  "10.0.0.0/8",
  "172.16.0.0/12",
  "192.168.0.0/16"
]

# Prefix for grouping client networks when applying limits
ipv4_prefix = 32
ipv6_prefix = 48

[botdetection.ip_limit]
filter_link_local = true
link_token = false

[botdetection.ip_lists]
block_ip = []

pass_ip = [
  "192.168.0.0/16",
  "10.0.0.0/8"
]

pass_searxng_org = false
