---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cnpg-barman-cloud
spec:
  interval: 1h
  dependsOn:
    - name: cloudnative-pg
      namespace: cnpg-system
  path: ./kubernetes/apps/cnpg-system/barman-cloud/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: cnpg-system
