---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: tandoor
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: tandoor-secret
    template:
      data:
        SECRET_KEY: "{{ .TANDOOR_SECRET_KEY }}"
        DB_ENGINE: "django.db.backends.postgresql"
        POSTGRES_HOST: "postgres18-rw.database.svc.cluster.local"
        POSTGRES_PORT: "5432"
        POSTGRES_DB: "tandoor"
        POSTGRES_USER: "tandoor"
        POSTGRES_PASSWORD: "{{ .POSTGRES_PASSWORD }}"
  dataFrom:
    - extract:
        key: tandoor
