---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: external-secrets
  values:
    certController:
      podDisruptionBudget:
        enabled: true
        minAvailable: 1
    extendedMetricLabels: true
    global:
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: Exists
          effect: NoSchedule
    grafanaDashboard:
      enabled: true
    livenessProbe:
      enabled: true
    podDisruptionBudget:
      enabled: true
      minAvailable: 1
    serviceMonitor:
      enabled: true
      interval: 1m
      metricRelabelings:
        - action: drop
          sourceLabels:
            - "__name__"
          regex: workqueue_(work|queue)_duration_seconds_bucket
        - action: drop
          sourceLabels:
            - "__name__"
          regex: controller_runtime_reconcile_time_seconds_bucket
    webhook:
      certManager:
        enabled: true
        cert:
          issuerRef:
            name: cluster-ca
            kind: ClusterIssuer
            group: cert-manager.io
          duration: 2160h
      lookaheadInterval: 240h
      podDisruptionBudget:
        enabled: true
        minAvailable: 1
